<div class="w-screen h-[90vh] mb-20 flex flex-col justify-center gap-4 items-center slide-in-view">
    <!-- <img src="assets/banner.jpg" alt="banner image of ice crystals" class="aspect-square rounded-full w-[50%] object-cover grayscale"> -->
    <div class="w-full container flex justify-center flex-col items-center">
        <h1 class="text-4xl md:text-8xl shrink handwriting">Hi there, I am Luc!</h1>
        <!-- <app-about-card class="w-full flex justify-center"></app-about-card> -->
    </div>
</div>
