<div 
class="container flex flex-col gap-2 md:gap-6 2xl:gap-12 z-20 text-neutral-content justify-between w-full relative" 
*ngIf="backstoryInput.checked" 
>
  <div class="flex justify-between items-center w-full">
    <h3 class="text-4xl md:text-6xl xl:text-7xl font-[Zeyada] grow basis-0 xl:mt-10">
        <span lang="en">Backstory</span>
        <span lang="sv">Bakgrundhistoria</span>
    </h3>
    <button class="btn  md:btn-lg btn-circle btn-ghost" (click)="toggleOverflow(); backstoryInput.checked = false">
      <svg xmlns="http://www.w3.org/2000/svg" class="p-2 h-12 w-12 xl:h-16 xl:w-16" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
    </button>
  </div>
    <div class="flex flex-col md:flex-row justify-between gap-4 xl:gap-20">
      <p class="text-xl md:text-2xl text-justify md:tracking-widest 2xl:leading-loose basis-0 grow">
        <span lang="en">
          Born in Alsace, France, I carry with me a cultural bagage which, truth be told, mostly includes recipes like
          Dampfnuddle and Flammekueche. 
        </span>
        <span lang="sv">
          Född i Alsace, Frankrike, Jag bär med mig ett kulturellt bagage som, ärligt talat, mest innehåller recept som
          Dampfnuddle och Flammekueche.
        </span>
      </p>
      <app-envelope-css class="basis-0 flex-grow hidden xl:block scale-95"></app-envelope-css>
      <img class="md:w-[50%] xl:hidden" src="assets/images/alsace.png" alt="picture of alsace">
    </div>

    <div class="flex flex-col xl:flex-row justify-end gap-4 xl:gap-32">
      <app-train-css class="basis-0 flex-grow hidden md:block scale-80 2xl:scale-100"></app-train-css>
      <p class="text-xl md:text-2xl text-justify md:tracking-widest 2xl:leading-relaxed basis-0 grow ">
        <span lang="en">
          I have settled in Sweden with my girlfriend (also from Alsace) almost 3 years ago and we really love it.
          Very fond of nordic countries, we are currently trying to visit the 25 Swedish 'landskapen' with 17 done so far.
          <span class="hidden md:inline-block">I am also doing quite a bit of travelling across Europe with night trains. This includes Hamburg, Leipzig,
          Copenhagen, Oslo and soon a trip to Slovenia.</span>
        </span>
        <span lang="sv">
          Jag har bosatt mig i Sverige med min flickvän (också från Alsace) för snart 3 år sedan och vi älskar det.
          Väldigt förtjust i de nordiska länderna, vi försöker just nu besöka de 25 svenska landskapen med 17 gjorda hittills.
          <span class="hidden md:inline-block">Jag reser också en hel del genom Europa med nattåg. Detta inkluderar Hamburg, Leipzig,
          Köpenhamn, Oslo och snart en resa till Slovenien.</span>
        </span>
      </p>
    </div>
  </div> 
