<div 
class="items-center grow fixed top-[-1vh] left-0 w-screen h-[110vh] z-[60] gradual-opacity bg-secondary" *ngIf="backstoryInput.checked" 
>
  <div 
class="mx-auto container flex flex-col sm:gap-2 md:gap-8 2xl:gap-12 z-30 text-neutral-content justify-between mt-4 sm:justify-center md:justify-evenly xl:justify-center w-full h-screen top-[1vh] relative" 
>
  <div class="flex justify-between items-center w-full">
    <h3 class="text-3xl sm:text-4xl md:text-6xl xl:text-7xl font-[Zeyada] grow basis-0 xl:mt-10">
        <span lang="en">Backstory</span>
        <span lang="sv">Bakgrundhistoria</span>
    </h3>
    <button class="btn  md:btn-lg btn-circle btn-ghost" (click)="backstoryInput.checked = false;scrollToId('about', false)">
      <svg xmlns="http://www.w3.org/2000/svg" class="p-2 h-12 w-12 xl:h-16 xl:w-16" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
    </button>
  </div>
  <div class="flex w-full flex-col md:flex-row md:gap-10 xl:gap-14 2xl:gap-20 grow md:grow-0 justify-between">
    <div class="flex flex-col justify-center md:justify-between xl:justify-start gap-4 md:gap-10 2xl:gap-20 basis-0 md:grow">
      <p class="text-md md:text-2xl text-justify 2xl:tracking-widest 2xl:leading-relaxed basis-0">
        <span lang="en">
          Born in Alsace, France, I carry with me a cultural bagage which, truth be told, mostly includes recipes like
          Dampfnuddle and Flammekueche. 
        </span>
        <span lang="sv">
          Född i Alsace, Frankrike, Jag bär med mig ett kulturellt bagage som, ärligt talat, mest innehåller recept som
          Dampfnuddle och Flammekueche.
        </span>
      </p>
      <app-train-css class="basis-0  hidden md:block scale-80 2xl:scale-100 relative "></app-train-css>
    </div>
    
    <div class="flex flex-col  justify-evenly md:justify-center xl:justify-center sm:gap-4 md:gap-10 basis-0 grow">
      <img class="me-auto md:w-[100%] xl:hidden" src="assets/images/alsace.png" alt="picture of alsace">
      <app-envelope-css class="basis-0  hidden xl:block 2xl:scale-95"></app-envelope-css>
      <p class="text-md md:text-2xl text-justify 2xl:tracking-widest 2xl:leading-relaxed basis-0">
        <span lang="en">
          I have settled in Sweden with my girlfriend (also from Alsace) almost 3 years ago and we really love it.
          Very fond of nordic countries, we are currently trying to visit the 25 Swedish 'landskapen' with 17 done so far.
          I am also doing quite a bit of travelling across Europe with night trains. This includes Hamburg, Leipzig,
          Copenhagen, Oslo and soon a trip to Slovenia.
        </span>
        <span lang="sv">
          Jag har bosatt mig i Sverige med min flickvän (också från Alsace) för snart 3 år sedan och vi älskar det.
          Väldigt förtjust i de nordiska länderna, vi försöker just nu besöka de 25 svenska landskapen med 17 gjorda hittills.
          Jag reser också en hel del genom Europa med nattåg. Detta inkluderar Hamburg, Leipzig,
          Köpenhamn, Oslo och snart en resa till Slovenien.
        </span>
      </p>
    </div>
   </div>
  </div> 
</div> 