<section class="min-h-screen flex flex-col">
  <div class="flex flex-col gap-4 min-h-screen w-full bg-secondary bg-opacity-40 py-12 md:py-40 relative">
    <div class="container mx-auto flex flex-col gap-12 md:justify-between slide-in-view relative">
      <h2 class="text-4xl md:text-6xl lg:text-7xl relative me-auto shrink md:mb-40 highlight-cap">ABOUT</h2>
    
      <p class="text-3xl text-justify tracking-widest leading-loose basis-0 grow border-2 px-4 border-r-secondary-content border-l-secondary-content border-t-transparent border-b-transparent border-opacity-5">
        Originally from a hospitality background I have decided a few years ago to pursue a career that I would
        passionate about.
        While I enjoyed the thrills, social aspect and multi-tasking of the reception, I lacked continuous learning, creativity and
        complex problem solving.
        I bridged the gap with Le Wagon bootcamp and never looked back
      </p>
    </div>
    <span class="absolute top-2 md:top-16 right-2 md:right-24 h-40 aspect-square rounded-full bg-secondary flex flex-col items-center justify-center" [ngClass]="hobbiesInput.checked ? 'circle-grow-screen bg-accent z-30' : ''">
      <input #hobbiesInput type="checkbox" class="h-full w-full opacity-0 z-50" (click)="toggleOverflow(); setScrollYOffset($event)">
      <!-- <p class="absolute">Hobbies</p> -->
    </span>
    <span class="absolute bottom-2 left-2 md:left-24 h-40 aspect-square rounded-full bg-secondary flex flex-col items-center justify-center" [ngClass]="dogInput.checked ? 'circle-grow-screen bg-accent z-30' : ''">
      <input #dogInput type="checkbox" class="h-full w-full opacity-0" (click)="toggleOverflow(); setScrollYOffset($event)">
      <!-- <p class="absolute">dog</p> -->
    </span>
    <span class="absolute bottom-2 right-2 md:right-24 h-40 aspect-square rounded-full bg-secondary flex flex-col items-center justify-center" [ngClass]="backstoryInput.checked ? 'circle-grow-screen bg-accent z-30' : ''">
      <input #backstoryInput type="checkbox" class="h-full w-full opacity-0" (click)="toggleOverflow(); setScrollYOffset($event)">
      <!-- <p class="absolute">backstory</p> -->
    </span>
    <app-container>
      <template *ngTemplateOutlet="hobbies"></template>
    </app-container>
  </div>




<!--
  <div class="me flex min-h-screen bg-accent w-full text-accent-content py-12 md:py-40 bg-opacity-40">
    <div class="container mx-auto flex flex-col gap-20">
      <h3 class="text-4xl font-[pacifico]">A little backstory</h3>
      <div class="flex flex-col md:flex-row justify-between gap-4 md:gap-40">
        <p class="text-2xl md:text-3xl text-justify tracking-widest leading-loose basis-0 grow">
          Born in Alsace, France I carry with me a small cultural bagage which, truth be told, mostly includes recipes like
          Dampfnuddle and Flammekueche. 
        </p>
        <app-envelope-css class="basis-0 flex-grow"></app-envelope-css>
      </div>

      <div class="flex flex-col md:flex-row justify-end gap-4 md:gap-40 ">
        <app-train-css class="basis-0 flex-grow"></app-train-css>
        <p class="text-2xl md:text-3xl text-justify tracking-widest leading-loose basis-0 grow">I have settled in Sweden with my girlfriend (also from Alsace) almost 3 years ago and We really love it.
          Very fond of nordic countries we are currently trying to visit the 25 swedish 'landskapen' with 17 done so far.
          I am also doing quite a bit of travelling across Europe with night trains. This includes Hamburg, Leipzig,
          Copenhagen, Oslo and more.
        </p>
      </div>
    </div> 
  </div> -->

</section>

<ng-template #hobbies >
    <div class="flex flex-col gap-16 z-30 absolute justify-between w-full" [style.top]="top" *ngIf="hobbiesInput.checked" (click)="hobbiesInput.checked = false">
      
      <div class="flex">
        <h3 class="text-8xl font-[Zeyada] grow basis-0">Hobbies & Passions</h3>
      </div>
  
        <div class="max-w-[38rem] max-h-[32rem] min-h-[15.5rem] md:min-h-[25rem] aspect-auto carousel justify-self-end items-end carousel-center mx-2 md:carousel-vertical flex grow basis-0 bg-transparent shadow-2xl drop-shadow-2xl sepia opacity-80">
          <div class="carousel-item aspect-auto relative w-full" *ngFor="let i of [1,2,3,4,5]">
            <div class="flex gap-2 absolute top-2 right-2 items-center">
              <img class="h-20 w-30" src="assets/images/circle-stamp.png" alt="stamp">
              <img class=" h-24 w-20" src="assets/images/stamp.png" alt="stamp">
              <p class="text-[white] md:hidden absolute top-52 right-0 font-mono">&#10229; SWIPE </p>
            </div>
            <img [src]="'assets/images/polka/' + i + '.jpg'" class=" w-full md:polka-mask object-contain object-center " />
            <p class="text-[white] hidden md:block rotate-90 top-1 absolute "> SCROLL &#10230;</p>
          </div>
        </div>
  
  
      <div class="flex flex-col md:flex-row gap-12 md:gap-40 z-10 w-full">
        <p class="text-2xl md:text-3xl max-w-[38rem] text-justify md:text-end tracking-widest leading-loose basis-0 grow ">
          I have many hobbies mostly because I love to collect skills.
          That includes crafting my own modern fishing rod, soldering my keyboard or making a historically accurate viking
          shield from scratch.
          I am interesting in learning anything especially if I can be mentored while doing it.
        </p>
        <ul class="text-4xl flex flex-col gap-6 justify-between items-start">
          <li><fa-icon class="text-5xl " [icon]="['fas','person-hiking']"></fa-icon>  Hiking with my dog Polka</li>
          <li><fa-icon class="text-5xl " [icon]="['fas','puzzle-piece']"></fa-icon>  Board games</li>
          <li><fa-icon class="text-5xl " [icon]="['fas','gamepad']"></fa-icon>  Video Games</li>
          <li><fa-icon class="text-5xl " [icon]="['fas','mountain']"></fa-icon>  Bouldering</li>
          <li><fa-icon class="text-5xl " [icon]="['fas','hammer']"></fa-icon>  Crafting</li>
        </ul>
      </div>
    </div>
</ng-template>