<section class="min-h-screen flex flex-col">
  <div class="flex flex-col gap-4 min-h-screen w-full bg-secondary bg-opacity-40 py-40">
    <div class="container mx-auto flex flex-col gap-40 slide-in-view">
      <h2 class="text-4xl md:text-6xl lg:text-6xl relative me-auto shrink mb-40 font-[pacifico]">Who am I</h2>
      <div class="flex gap-50 justify-between">
        <ul class="font-normal text-6xl flex flex-col gap-1 items-start justify-evenly ms-16">
          <li class="font-[zeyada] text-7xl">
            <fa-icon [icon]="['fas', 'heart']" class="text-heart drop-shadow-xl fa-beat"></fa-icon> 
            Passionate
          </li>
          <li class="font-[pacifico]"><fa-icon [icon]="['fas', 'wand-magic-sparkles']" class="text-[black]"></fa-icon> Creative</li>
          <li class="font-sans mt-3"><fa-icon [icon]="['fas', 'compass']" class="text-brass drop-shadow-xl"></fa-icon> Resilient</li>
        </ul>
        <img src="assets/images/polka/4.jpg" alt="" class="relative left-0 basis-0 grow custom-mask text-end max-h-[50rem] max-w-[50rem]  aspect-square object-cover object-center  ">
  
      </div>
      <p class="text-3xl text-justify tracking-widest leading-loose basis-0 grow border-2 px-4 border-r-secondary-content border-l-secondary-content border-t-transparent border-b-transparent border-opacity-5">
        Originally from a hospitality background I have decided a few years ago to pursue a career that I would
        passionate about.
        While I enjoyed the thrills, social aspect and multi-tasking of the reception, I lacked continuous learning and
        complex problem solving.
        I bridged the gap with Le Wagon bootcamp and never looked back.
      </p>
    </div>

  </div>

  <div class="me flex gap-4 min-h-screen bg-neutral w-screen  text-neutral-content py-40 ">
    <div class="container mx-auto flex flex-col gap-40">
      <h3 class="text-4xl font-[pacifico]">A little backstory</h3>
      <p class="text-3xl text-center tracking-widest leading-loose basis-0 grow">

        <br><br> Originally from Alsace, France I carry with me a small cultural bagage which, truth be told, mostly includes recipes like
        Dampfnuddle and Flammekueche. 
        I have settled in Sweden with my girlfriend (also from Alsace) almost 3 years ago and We really love it.
        Very fond of nordic countries we are currently trying to visit the 25 swedish 'landskapen' with 17 done so far.
        I am also doing quite a bit of travelling across Europe with night trains. This includes Hamburg, Leipzig,
        Copenhagen, Oslo and more.
      </p>
    </div>
  </div>



<div class="hobbies bg-accent text-accent-content bg-opacity-40 flex gap-4 min-h-screen w-screen py-40">
  <div class="container mx-auto flex flex-col gap-16">
    <div class="flex gap-40 justify-end relative pb-[25rem]">
      <div class="h-[45rem] z-[0] carousel carousel-vertical rounded-box absolute top-0 left-0">
        <div class="carousel-item h-full" *ngFor="let i of [1,2,3,4,5]">
          <img [src]="'assets/images/polka/' + i + '.jpg'"
              class="rounded-box  polka-mask max-w-[60rem] aspect-square object-cover object-top opacity-45" />
        </div> 
      </div>
      <h3 class="text-8xl font-[Zeyada] ">Hobbies & Passions</h3>
    </div>
    <div class="flex gap-40 z-10">
      <ul class="text-4xl flex flex-col gap-6 justify-between items-start">
        <li><fa-icon class="text-5xl " [icon]="['fas','person-hiking']"></fa-icon>  Hiking with my dog Polka</li>
        <li><fa-icon class="text-5xl " [icon]="['fas','puzzle-piece']"></fa-icon>  Board games</li>
        <li><fa-icon class="text-5xl " [icon]="['fas','gamepad']"></fa-icon>  Video Games</li>
        <li><fa-icon class="text-5xl " [icon]="['fas','mountain']"></fa-icon>  Bouldering</li>
        <li><fa-icon class="text-5xl " [icon]="['fas','hammer']"></fa-icon>  Crafting</li>
      </ul>
      <p class="text-3xl text-end tracking-widest leading-loose basis-0 grow">
        I have many hobbies mostly because I love to collect skills.
        That includes crafting my own modern fishing rod, soldering my keyboard or making a historically accurate viking
        shield from scratch.
        I am interesting in learning anything especially if I can be mentored while doing it.
      </p>
    </div>
  </div>
</div>
</section>