


<nav class="navbar z-40 text-cblue text-center items-center justify-center text-xl md:text-2xl lg:text-3xl relative">
  <ul class="container flex gap-3 justify-between items-center px-0">
    <li class="grow justify-start md:hidden flex lg:justify-evenly">
      <div class="dropdown">
        <label class="hamburger-menu btn btn-ghost btn-circle">
          <input type="checkbox"/>
        </label>
        <aside tabindex="0" class="sidebar h-auto left-0 z-50 pt-10 p-2 shadow rounded-md text-2xl w-32 md:w-96 flex flex-col gap-2 bg-contain items-start">
          <ul class="z-50">
            <li><a>HOME</a></li>
            <li>
              <a>PROJECTS</a>
              <ul class="p-2">
                <li><a>DealFortress</a></li>
                <li><a>Cup Of Tickets</a></li>
              </ul>
            </li>
            <li><a>ABOUT</a></li>
          </ul>
        </aside>
      </div>
    </li>
    <li class="grow justify-start hidden md:flex lg:justify-evenly">
      <ul class="menu menu-horizontal px-1 grow lg:flex lg:justify-evenly  text-xl md:text-2xl lg:text-3xl">
        <li><a>HOME</a></li>
        <li>
          <details>
            <summary>PROJECTS</summary>
            <ul class="p-2 bg-cwhite shadow-none border border-cblue rounded-md z-40">
              <li><a>DealFortress</a></li>
              <li><a>Cup Of Tickets</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </li>
    <li class="grow justify-center">
      <a class="text-xl flex flex-col">
        <h3 class="font-['Pacifico'] lg:text-3xl">Luc Siat</h3>
        <p class="text-xl lg:text-2xl font-thin">FULL STACK DEVELOPER</p>
      </a>
    </li>
    <li class="grow justify-end flex items-center lg:justify-evenly ">
      <a class="px-4 py-2 hidden md:flex">ABOUT</a>
      <a
        class="btn btn-ghost rounded-md text-lg md:text-2xl lg:text-3xl font-normal border border-[grey] hover:bg-cblue hover:text-cwhite ">CONTACT</a>
    </li>
  </ul>
</nav>