<main class="container m-auto min-h-screen">
    <section class="w-full min-h-screen h-full flex flex-col justify-center items-center text-center gap-4 text-cblue">
        <h1 class="text-4xl font-semibold">Website is almost finished! </h1>
        <fa-icon [icon]="['fas','person-digging']" class="text-5xl"></fa-icon>
        <p class="text-2xl">Come back the <br> 22nd April 2024 <br> for release</p>
        <p class="text-2xl">You can also come and check the project updates on github</p>
    </section>
</main>
