<div class="max-w-screen flex flex-col justify-center gap-4 items-center relative">   
    <app-landscape-css ></app-landscape-css>
    <div class="w-full container flex flex-col justify-between gap-40  items-center absolute bottom-[22%] md:bottom-[35%] xl:bottom-[20%] left-0 md:left-52">
        <h1 class="text-5xl xl:text-8xl shrink handwriting  slide-in-view !duration-[2s] text-[white] !opacity-75">
            <span lang="en">Hi there, I am Luc!</span>
            <span lang="sv">Hej där, jag är Luc!</span>
        </h1>
    </div>
    <app-corgi-css class="scale-[20%] md:scale-[10%] z-10 bottom-0 absolute left-40 xl:left-64"></app-corgi-css>
</div>
