<div class="w-screen h-screen mb-20 flex flex-col justify-center gap-4 items-center ">  
    
    <div class="relative ">
        <app-landscape-css></app-landscape-css>
        <div class="absolute bottom-[-9rem]">
            <div class="w-screen h-40 bg-gradient-to-b from-[#688659] to-base-content z-[1] "></div>
            <div class="w-screen h-20 bg-base-content z-[1] position relative bottom-0"></div>
        </div>
    </div>

    <div class="w-full container flex flex-col justify-between gap-40  items-center absolute top-[70vh] left-52">
        <h1 class="text-4xl md:text-8xl shrink handwriting  slide-in-view !duration-[2s] ">Hi there, I am Luc!</h1>

        <app-corgi-css></app-corgi-css>
    </div>
</div>
