<li 
(click)="handleHobbySelection(hobby.name) "
class="bouncy-btn rounded-full p-3 aspect-square w-[3rem] h-[3rem] md:w-[4rem] md:h-[4rem] xl:w-[5rem] xl:h-[5rem] flex justify-center items-center transition-all duration-75 gap-2"
[ngClass]="{'absolute top-0 left-0  !w-[100%] z-10' : isSelected}"
[class]="hobby.background">
    <fa-icon class="text-2xl md:text-3xl xl:text-5xl " [icon]="hobby.icon"></fa-icon>
    <p class="text-xl md:text-2xl xl:text-3xl " [ngClass]="isSelected ? 'z-0 opacity-100 ' : 'absolute z-1 opacity-0 '"  >{{hobby.description}}</p>
</li>