<span 
class="flex h-28 w-28  sm:h-36 sm:w-36 md:h-56 md:w-56 aspect-square rounded-full bg-secondary flex-col items-center justify-center shadow-2xl  relative drop-shadow-2xl" 
[ngClass]="hobbiesInput.checked ? 'circle-grow-screen bg-accent z-40 bg-bouncy ' : 'bouncy-btn'">
  <input 
  #hobbiesInput 
  type="checkbox" 
  class="h-full w-full opacity-0 z-50" 
  >
  <img  
  *ngIf="!hobbiesInput.checked" 
  src="assets/images/heart.png" alt="passion icon" 
  class="absolute aspect-square h-2/3 " 
  [ngClass]="hobbiesInput.checked? 'opacity-0': ''">
</span>