<app-section title="CONTACT ME" classes="bg-neutral text-neutral-content h-full !min-h-auto">
    <menu class="text-5xl md:text-7xl flex gap-2 md:gap-4 justify-evenly items-center h-full grow relative ">
        <li>
            <a class="hover:text-neutral hover:bg-neutral-content aspect-square rounded-full md:px-8 md:py-4 "href="https://www.github.com/Luc-siat">
                <fa-icon [icon]="['fab','github']"></fa-icon>
            </a>
        </li>
        <li>
            <a class="hover:text-neutral hover:bg-neutral-content aspect-square rounded-full md:px-8 md:py-4 "href="https://www.linkedin.com/in/Luc-siat">
                <fa-icon [icon]="['fab','linkedin-in']"></fa-icon>
            </a>
        </li>
        <li>
            <a class="hover:text-neutral hover:bg-neutral-content aspect-square rounded-full md:px-8 md:py-4 "href="mailto:lucsiat@gmail.com">
                <fa-icon [icon]="['fas','envelope']"></fa-icon>
            </a>
        </li>
    </menu>
</app-section>