    <footer class="pt-24 pb-10 z-10 min-h-[50vh]  bg-neutral text-neutral-content flex flex-col justify-end">
        <div class="container mx-auto flex flex-col justify-between items-center w-full min-h-[30vh] h-full gap-16 grow">
            <h2 class="text-4xl md:text-6xl lg:text-6xl relative highlight-cap me-auto shrink mb-20 slide-in-view">
                <span lang="en">{{'Contact me' | uppercase}}</span>
                <span lang="sv">{{'Kontakta mig' |uppercase}}</span>
            </h2>
            <menu class="text-4xl md:text-7xl flex gap-2 md:gap-4 justify-evenly w-full items-center h-full grow relative ">
                <li>
                    <a class="hover:text-neutral hover:bg-neutral-content aspect-square rounded-full py-2 px-4 md:px-8 md:py-4 "href="https://www.github.com/Luc-siat">
                        <fa-icon [icon]="['fab','github']"></fa-icon>
                    </a>
                </li>
                <li>
                    <a class="hover:text-neutral hover:bg-neutral-content aspect-square rounded-full py-2 px-4 md:px-8 md:py-4 "href="https://www.linkedin.com/in/Luc-siat">
                        <fa-icon [icon]="['fab','linkedin-in']"></fa-icon>
                    </a>
                </li>
                <li>
                    <a class="hover:text-neutral hover:bg-neutral-content aspect-square rounded-full py-2 px-4  md:px-8 md:py-4 "href="mailto:lucsiat@gmail.com">
                        <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon>
                    </a>
                </li>
            </menu>
            <a class="w-full text-center" href="#home">
                <span lang="en">Back to top &#8657;</span>
                <span lang="sv">Tillbaka till toppen &#8657;</span>
            </a>
        </div>
    </footer>
