

<div class="h-full absolute w-full">
  <nav id="home" class=" navbar z-10 text-base-100 text-center flex-col items-center justify-center !sticky top-0" [ngClass]="isDark ? 'bg-base-content' : 'bg-transparent'">
    <ul class="container flex gap-3 justify-between items-center px-0 relative">
      <li class="grow-[2] basis-0 justify-start lg:hidden flex relative">
        <app-side-drawer (isDarkEvent)="handleIsDarkEvent($event)"></app-side-drawer>
      </li>
      <li class="grow-[2] basis-0 justify-start hidden lg:flex lg:justify-between">
        <ul class="menu menu-horizontal px-1 grow lg:flex lg:justify-between">
          <li  class="hover:text-accent">
            <a href="#home" >
              <span lang="en">HOME</span>
              <span lang="sv">HEM</span>
            </a>
          </li>

          <li  class="hover:text-accent">
            <a href="#projects">
              <span lang="en">PROJECTS</span>
              <span lang="sv">PROJEKTER</span>
            </a>
          </li>
          <li class="hover:text-accent">
            <a href="#experience">
              <span lang="en">EXPERIENCE</span>
              <span lang="sv">ERFARENHET</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="grow-[4] md:grow xl:grow-[2] basis-0 justify-center">
        <a class="flex flex-col hoverable " href="#home">
          <h3 class="font-['Pacifico'] ">Luc Siat</h3>
          <p  class="text-md md:text-xl xl:text-2xl font-thin">
            <span lang="en">FULL STACK DEVELOPER</span>
            <span lang="sv">FULL STACK UTVECKLARE</span>
          </p>
        </a>
      </li>
      <li class="grow-[2] basis-0 justify-end flex items-center ">
        <ul class="menu menu-horizontal items-center justify-end lg:justify-evenly grow">
          <li class="hover:text-accent">
            <a class="px-4 py-2 hidden lg:flex" href="#about">
              <span lang="en">ABOUT</span>
              <span lang="sv">OM MIG</span>
            </a>
          </li>
          <li>
            <a
            class="btn btn-ghost btn-circle md:btn-md xl:btn-lg font-normal bg-base-100 text-base-content hover:bg-accent hover:text-base-100 " href="#contact">
              <fa-icon [icon]="['fas', 'paper-plane']" class="fa-fw w-10 h-10 flex justify-center items-center" ></fa-icon>
            </a>
          </li>
          <app-navbar-settings [isOnMobile]="false" class="hidden lg:flex " (isDarkEvent)="handleIsDarkEvent($event)"></app-navbar-settings>
        </ul>
    </li>
    </ul>
  </nav>
</div>





