<div class="w-full max-w-[400px] flex justify-end relative grow">
   <img  src="assets/images/profile-picture.jpg" alt="my profile picture" class="aspect-square h-[80%] absolute z-10 left-0 top-0 mask mask-squircle"> 
   <div class="card blob bg-base-200 rounded-none w-[67vw] top-2">
    <div class="ps-24 card-body  text-end gap-4">
      <p>Wanna see pictures of my dog?</p>
      <div class="card-actions justify-end">
        <button class="btn btn-accent rounded-box">ABOUT ME</button>
      </div>
    </div>
  </div>
</div>
