/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --bar-width: 1.5rem;
   --bar-height: 2px;
   --hamburger-gap: 6px;
   --foreground: #084c61;
   --background: #084c61;
   --animation-timing: 100ms ease-in-out;
   --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
   --spring-multiplier: 2;
}

html {margin: 0; height: 100%; overflow: hidden}
body {
   /* @apply bg-cwhite; */
   font-family: "Truculenta", sans-serif;
}

@font-face {
   font-family: 'Pacifico';
   src: url('assets/fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Truculenta';
   src: url('assets/fonts/Truculenta/Truculenta-VariableFont_opsz,wdth,wght.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

.soft-animation {
   transition: transform 0.3s ease;
 }
 
 

