/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --bar-width: 1.5rem;
   --bar-height: 2px;
   --hamburger-gap: 6px;
   --foreground: #084c61;
   --background: #084c61;
   --animation-timing: 100ms ease-in-out;
   --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
   --spring-multiplier: 2;
}

body {
   /* @apply bg-cwhite; */
   font-family: "Truculenta", sans-serif;
}

@font-face {
   font-family: 'Pacifico';
   src: url('assets/fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Truculenta';
   src: url('assets/fonts/Truculenta/Truculenta-VariableFont_opsz,wdth,wght.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
  font-family: 'Zeyada';
  src: url('assets/fonts/Zeyada/Zeyada-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.soft-animation {
   transition: transform 0.3s ease;
 }

.highlight::after {
  content: '';
  position: absolute;
  @apply bg-accent;
  z-index: -1;
  top: 60%;
  left: 20%;
  height: 30%;
  width: 90%;
  opacity: 70%;
}

.highlight-cap::after {
  content: '';
  position: absolute;
  @apply bg-accent;
  z-index: -1;
  top: 50%;
  left: 20%;
  height: 50%;
  width: 90%;
  opacity: 70%;
}
.slide-in-view {
  opacity: 0;
  transition: all 1.2s;
  transform: translateX(-100%);
  filter: blur(5px);
}
 
.shown-in-view {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

   
@media(prefers-reduced-motion) {
  .slide-in-view {
    transition: none;
  }
} 
 
.handwriting {
  font-family: Zeyada, sans-serif;
  font-weight: 100;
}

.blob{
  border-radius: 94% 31% 30% 67% / 67% 37% 56% 34%;
  width: 250px;
  height: 250px;
  box-shadow: -10vmin 10vmin 0 rgba(255,255,255,0.07);
}

